body {

    background: linear-gradient(180deg, #211635, #07040b);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    min-height: 100vh;
    margin: 0;
}

#titleDiv {
    text-align: center;
    margin-bottom: 32px;
}

#titleDiv img {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    transition: max-width 0.3s ease;
}

#titleDiv h1 {
    font-size: 30px;
    font-weight: 400;
    color: #7f1395;
}

#countdownDiv {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
}

.card {
    background-color: #531d7c;
    padding: 25px 50px;
    text-align: center;
    min-width: 80px;
    box-shadow: 0 0 15px rgba(170, 0, 255, 0.4);
    transition: transform 0.3s ease;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.card:hover {
    transform: scale(1.1);
}

.card h3 {
    font-size: 50px;
    color: #ffffff;
}

#descriptionDiv {
    text-align: center;
    max-width: 600px;
    margin-bottom: 32px;
}

#description {
    color: #cccccc;
    font-size: 18px;
}

footer {
    height: 100px;
    margin-top: auto;
    width: 100%;
    align-content: center;

}

#contactDiv {
    display: flex;
    gap: 16px;
    justify-content: center;
}

#contactDiv button {
    width: 40px;
    height: 40px;
    background-color: #0000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button i{
    color: #ac52af;
    font-size: 20px;

}
button i:hover {
    transform: scale(1.1);
}


@media (max-width: 600px) {
    #countdownDiv {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100px;
    }

    #titleDiv img {
        max-width: 300px;
    }

    #titleDiv h1 {
        font-size: 32px;
    }

    #description {
        font-size: 16px;
        padding: 0 16px;
    }
}
